<aside class="w-1/6 p-6 bg-background-secondary">
    <nav class="space-y-4">
        <a href="{{ path('admin_client') }}" class="block py-3 px-5 rounded-lg hover:bg-highlight text-text-headline text-lg font-bold">Clients</a>
        <a href="{{ path('admin_project') }}" class="block py-3 px-5 rounded-lg hover:bg-highlight text-text-headline text-lg font-bold">Projects</a>
        <a href="{{ path('admin_team') }}" class="block py-3 px-5 rounded-lg hover:bg-highlight text-text-headline text-lg font-bold">Teams</a>
        <a href="#" class="block py-3 px-5 rounded-lg hover:bg-highlight text-text-headline text-lg font-bold">Todos</a>
        <a href="#" class="block py-3 px-5 rounded-lg hover:bg-highlight text-text-headline text-lg font-bold">Users</a>
    </nav>
</aside>
