{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <section class="flex bg-background-main font-sans">
        <!-- Sidebar -->
        <aside class="w-1/6 p-6 bg-background-secondary h-screen shadow-custom-2">
            <nav class="space-y-4">
                <h1 class="text-xl block py-3 px-4 "> Dashboard</h1>
                <a href="{{ path('admin_client') }}" class="block py-3 px-5 rounded-lg  text-text-headline text-lg ">Clients</a>
                <a href="{{ path('admin_project') }}" class="block py-3 px-5 rounded-lg  text-text-headline text-lg ">Projects</a>
                <a href="{{ path('admin_team') }}" class="block py-3 px-5 rounded-lg  text-text-headline text-lg ">Teams</a>
                <a href="#" class="block py-3 px-5 rounded-lg  text-text-headline text-lg ">Todos</a>
                <a href="{{ path('admin_users') }}" class="block py-3 px-5 rounded-lg  text-text-headline text-lg ">Users</a>
            </nav>
        </aside>

        <!-- Main Content Area -->
        <main class="w-5/6 p-10">
            <div class="space-y-4">
                {% block admin_content %}
                    <!-- Content from individual admin pages will be injected here -->
                {% endblock %}
            </div>
        </main>
    </section>
{% endblock %}
