<turbo-stream action="replace" target="new_event_{{ event_date }}">
    <template>
        <turbo-frame id="new_event_{{ event_date }}">
            <a href="{{ path('test_week_new', { 'date': event_date }) }}" class="text-xs text-indigo-500 hover:underline" data-turbo="false">
                + Add Event
            </a>
        </turbo-frame>
    </template>
</turbo-stream>