<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <!-- Link to load Roboto font -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}

        {% endblock %}
    </head>
    <body>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <header class="bg-background-secondary  fixed top-0 w-full flex items-center justify-between">

            <!-- Brand Area with fixed width (same as sidebar) -->
            <div id="brand" class="flex items-center w-1/6  bg-background-muted">
                <img src="{{ asset('icons/logo/logo.svg') }}" alt="Logo" class="h-8 w-auto">
                <h1 class="text-lg font-semibold text-text-standard">Hest Time Controller</h1>
            </div>

            <!-- Navigation -->
            <div class="flex-grow flex items-center justify-center space-x-6 ">
                <nav class="space-x-4">
                    <a href="#" class="text-lg font-medium hover:text-highlight">Register Time</a>
                    <a href="#" class="text-lg font-medium hover:text-highlight">Calendar</a>
                    <a href="#" class="text-lg font-medium hover:text-highlight">Kanban</a>
                    <a href="#" class="text-lg font-medium hover:text-highlight">Test</a>
                </nav>
            </div>

            <!-- User Greeting -->
            <div>
                <a href="#" class="text-lg font-medium text-text-muted hover:text-highlight">Hello</a>
            </div>
        </header>
    {% endif %}
        {% block body %}

        {% endblock %}
    </body>
</html>
